@model CapitalNews.Models.Noticias

@{

    ViewData["Title"] = "Details";
}

<div class="container">
    <br />
    <br />
    <br />
    <br />
    <br />

    <h1></h1>

    <div>
        <h4></h4>
        <hr />
        <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@Model.Id">
                        <img src="@Url.Content("~/Fotos/")@Model.Fotografia.NomeFoto" height="400" width="1000" />
                    </a>

                </td>
                <br />
                <br />
                
                <td>
                    <h1> @Html.DisplayFor(model => model.Titulo)</h1>
                    <h5>@Html.DisplayFor(model => model.Categoria.CategoriaNome)</h5>

                    <br />
                    <br />

                    <p> @Html.DisplayFor(model => model.Body)</p>
                    
                    
                    <h7>@Html.DisplayFor(model => model.Data)</h7>
                    
                    <p>@Html.DisplayFor(model => model.Jornalista.Nome)</p>
                   
                </td>
               
               
            </tr>
    </div>

     <br />
    <br />
    <br />
    <br />
    <br />
     <br />
    <br />
    

    <h4>Lista de Comentarios associados a @Model.Titulo</h4>

    @if (Model.ListaComentarios.Count == 0)
    {
        <p>Não há comentários associadas a esta notícia.</p>
    }
    else
    {
        <table class="table">
            
            @foreach (var comentario in Model.ListaComentarios)
            {
                <tr>
                    
                    <td>@comentario.TextoComentario</td>
                    <td>@comentario.DataComentario</td>
                    <td>@comentario.Leitor.Username</td>
                    
                    <td></td>
                </tr>
            }
        </table>
    }

    <a class="nav-link text-dark" asp-area="" asp-controller="Comentarios" asp-action="Create">Adicionar Comentario</a>
    <div>

        <a asp-action="Index">Voltar à lista</a>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
</div>