@model IEnumerable<CapitalNews.Models.Noticias>

@{
    ViewData["Title"] = "Index";
}


<style>
    body {
        background-color: rgb(0, 0, 0, 0.80);
    }
    th {
        color: #ffb727;
        background-color: #111111;
    }
    td {
        color: azure;
        vertical-align: middle;
    }
    table {
        text-align: center;
        background-color: #222222;
        border: 2px solid #ffb727;
    }
    tr:nth-child(even) {
        background-color: #333333;
    }
    hr {
        background-color: white;
    }
</style>


<body>
    <h1>Noticias</h1>
    <hr />

    
    
            <p>
               <a asp-action="Create">Criar Noticia</a>
            </p>
        

    <table class="table">
        
        <tbody>
            @{ foreach (var item in Model)
                {
                    
                        <tr>
                            <td>
                                <img src="~/Fotos/@Html.DisplayFor(modelItem => item.Fotografia.NomeFoto)"
                                     style="border: 2px solid white"
                                     width="120"
                                     alt="Foto sobre @item.Fotografia.Descritores"
                                     title="@Html.DisplayFor(modelItem => item.Fotografia.Descritores)" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Titulo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Categoria.CategoriaNome)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Data)
                            </td>
                            
                            
                            

                            <td class="card-footer text-muted">
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                           
                            </td> 
                        </tr>

                    
                }
            }
        </tbody>
    </table>
</body>


 
