@model IEnumerable<CapitalNews.Models.Noticias>

@{
    ViewData["Title"] = "Index";
}


<style>
    body {
        background-color: rgb(200, 251, 117, 0.80);
    }
    

    
</style>


<body>
    <img src="~/Fotos/ipt.jpg" alt="Publicidade IPT" style="float:right;width:600px;height:1000px;" >
    <h1>Noticias ao Minuto</h1>
    <hr />

    
    
            <p>
               <a asp-action="Create">Criar Noticia</a>
            </p>
        

    <div class="control-section card-control-section">
        <div class="e-card-resize-container"> 
        <div>
            
            @{ foreach (var item in Model)
                {
                    <div class="row card-layout"> 
                    
                    <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6"> 
                    <hr />
                     <div tabindex="0" >    
                            
                                <img src="~/Fotos/@Html.DisplayFor(modelItem => item.Fotografia.NomeFoto)"
                                     style="border: 2px solid white"
                                     width="200"
                                     alt="Foto sobre @item.Fotografia.Descritores"
                                     title="@Html.DisplayFor(modelItem => item.Fotografia.Descritores)" />
                            
                            <h2 style="color:black">
                                @Html.DisplayFor(modelItem => item.Titulo)
                            </h2>
                            <h4>
                                @Html.DisplayFor(modelItem => item.Categoria.CategoriaNome)
                             </h4>
                            <div>
                                @Html.DisplayFor(modelItem => item.Data)
                            </div>
                            
                            
                            
                            

                            <div class="e-card-actions">
                                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                           
                            </div> 
                            </div>
                        
                    </div>
                    </div>
                    
                    
                }
            }
        </div>
        </div>
    </div>
</body>


 
