@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model IEnumerable<CapitalNews.Models.Noticias>

@{
    ViewData["Title"] = "Index";
}


<div class="container">
    <br />
    <br />
    <br />
    <br />
    <br />
    

    <h1><b>Noticias ao Minuto</b></h1>
    @if (SignInManager.IsSignedIn(User) && User.IsInRole("Jornalista")){
        <p>
            <a asp-action="Create">Adicionar Noticia</a>
        </p>
    }
    <table class="table">
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">
                        <img src="@Url.Content("~/Fotos/")@item.Fotografia.NomeFoto" height="200" />
                    </a>

                </td>
                
                <td>
                     <a asp-action="Details" asp-route-id="@item.Id">
                        <h3> @Html.DisplayFor(modelItem => item.Titulo)</h3>
                     </a>
                    <h5>@Html.DisplayFor(modelItem => item.Categoria.CategoriaNome)</h5>

                    <br />
                    <br />
                    
                    
                    <h7>@Html.DisplayFor(modelItem => item.Data)</h7>
                    
                    <p>@Html.DisplayFor(modelItem => item.Jornalista.Nome)</p>
                   
                </td>
               
                <td>
                    
                </td>

               
                <td>
                    
                </td>




                <td>

                @if (SignInManager.IsSignedIn(User) && User.IsInRole("Jornalista")) {
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" > Eliminar </a>
                }

                </td>
            </tr>
            }
        </tbody>
    </table>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>


 
