@model CapitalNews.Models.Jornalistas

@{
    ViewData["Title"] = "Delete";
}

<br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
<div class="container">
<h1>Eliminar</h1>

<h3>Deseja eliminar o jornalista?</h3>
<div>
    <h4>Jornalistas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fotojor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fotojor)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar à Lista</a>
    </form>
</div>

</div>
