@model CapitalNews.Models.Jornalistas

@{
    ViewData["Title"] = "Details";
}

<br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
<div class="container">
<h1>Detalhes</h1>

<div>
    <h4>Jornalistas</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fotojor)
        </dt>
        <dd class = "col-sm-10">
            <img src="~/Fotos/@Model.Fotojor" height="200" alt="Foto do Jornalista @Model.Nome" title="@Model.Nome" />
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Editar</a> |
    <a asp-action="Index">Voltar à Lista</a>
</div>

</div>
