@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@model IEnumerable<CapitalNews.Models.Comentarios>

@{
    ViewData["Title"] = "Index";
}

<br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

<div class="container">
<h1>Comentários</h1>

<p>
    <a asp-action="Create">Criar Comentario</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TextoComentario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataComentario)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Noticia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Leitor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TextoComentario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataComentario)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Noticia.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Leitor.Username)
            </td>
            @if (SignInManager.IsSignedIn(User) && User.IsInRole("Administrativo")){
                <td>
                    
                    <a asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                </td>
            }
        </tr>
}
    </tbody>
</table>

</div>
